/* Start of Global */

:root {
  --white: #ffffff;
  --black: #000000;
  --light-blue: #0a0844;
  --purble: #6c2d89;
  --dark-blue: #03022c;
  --green: #4bae4f;
  --pink: #ff478c;
  --grad-purble-dark: #935cec;
  --grad-purble-light: #ff87dd;
  --grad-orange-dark: #fc5c98;
  --grad-orange-light: #ff7757;
  --gray: #20253d;
}

* {
  padding: 0;
  margin: 0;
  direction: rtl;
  text-decoration: none;
  color: var(--white);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray);
  font-family: "Tajawal", sans-serif;
}

body::-webkit-scrollbar {
  width: 1em;
  background-color: #110726;
}

body::-webkit-scrollbar-thumb {
  background-color: #4b2399;
  box-shadow: 0px 0px 30px 30px #4b2399;
}

.container {
  width: 70%;
  margin: auto;
  padding: 40px 0px;
}

#orangeStar {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--grad-orange-light);
  filter: blur(2px);
  box-shadow: 0px 0px 8px 0px var(--grad-orange-light);
}

#purpleStar {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--grad-purble-dark);
  filter: blur(2px);
  box-shadow: 0px 0px 8px 0px var(--grad-purble-dark);
}

/* arrow */

#arrowHome i {
  position: fixed;
  right: -40px;
  bottom: 10px;
  color: #6929e9;
  z-index: 9999;
  font-size: 2rem;
  transition: 0.4s;
}

#arrowHome i:hover {
  transform: translateY(-10px);
}

/* End of Global */

/* Start of Loader */

#bgLoading {
  position: fixed;
  z-index: 999998;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  backdrop-filter: blur(70px);
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #4937f0 #4937f0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* End of Loader */

/* Start of NavBar */

#mainNav {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1999;
  transition: 0.4s;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 25px;
  backdrop-filter: blur(17px);
  box-shadow: 0px 0px 20px 0px #0002;
}

#mainNav .container #menuIcon {
  display: none;
}

#mainNav .container {
  height: 4.5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

#mainNav .container .logo {
  padding-left: 25px;
  width: 80px;
  transition: 0.5s;
}

#mainNav .container .logo:hover {
  transform: scale(1.1);
}

#mainNav .container #menu {
  display: flex;
  gap: 30px;
}

#mainNav .container #menu a {
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.4s;
  opacity: 0.3;
  transform: scale(0.9);
  cursor: pointer;
  color: var(--grad-purble-dark);
  text-decoration: none;
}

#mainNav .container #menu a:hover,
#mainNav .container #menu .active {
  opacity: 1;
  transform: scale(1.1);
}

#mainNav .container .contact {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 0px 25px;
  border: 3px solid;
  border: 3px #4937f0 solid;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  transition: 0.4s;
  cursor: pointer;
}

#mainNav .container .contact::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.3s;
  background-image: linear-gradient(
    45deg,
    var(--grad-purble-dark),
    var(--grad-purble-light)
  );
  z-index: -1;
  border-radius: 5px;
}

#mainNav .container .contact:hover {
  border-color: transparent;
  transform: scale(1.1);
}

#mainNav .container .contact:hover::before {
  width: 100%;
}

/* for mobile */

#navPhone {
  opacity: 0;
  pointer-events: none;
  height: 0;
}

/* End of NavBar */

/* Start of Landing */

#landing {
  background-color: #1c213a;
  position: relative;
  overflow-x: hidden;
  background-image: url("./images/bg.jpg");
  background-size: cover;
}

#landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28 33 59 / 80%);
}

#landing .container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4vh;
  width: 90%;
  position: relative;
}

#landing .container .left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#landing .container .left h1 {
  font-size: 3.7rem;
  color: var(--white);
  font-weight: 400;
}

#landing .container .left h2 {
  font-size: 1.9rem;
  line-height: 65px;
  color: var(--white);
  height: 100px;
}

#landing .container .left a {
  font-size: 1.1rem;
  padding: 5px 25px 5px 22px;
  background-image: linear-gradient(
    -45deg,
    var(--grad-orange-dark),
    var(--grad-orange-light)
  );
  border-radius: 5px;
  transition: 0.7s;
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  text-align: left;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#landing .container .left a i {
  font-size: 20px;
  color: var(--gray);
}

#landing .container .left .cv {
  width: 33%;
  transition: 0.5s;
}

#landing .container .left .cv:hover {
  transition: 0.5s;
  width: 35%;
}

#landing .container .right {
  margin-left: -100px;
  display: flex;
  position: relative;
}

#landing .container .right .me {
  width: 705px;
  position: relative;
  z-index: 22;
  border-radius: 85px 5px;
  cursor: pointer;
  transition: 0.7s;
}

#landing .container .right .me:hover {
  scale: 1.1;
}

/* stars */

#landing .stars-cover i#one {
  width: 5px;
  height: 5px;
  top: 15%;
  left: 4%;
  position: absolute;
  filter: blur(1.3px);
  color: var(--green);
  rotate: 170deg;
  z-index: 5;
}

#landing .stars-cover i#two {
  width: 5px;
  height: 5px;
  top: 95%;
  left: 94%;
  position: absolute;
  filter: blur(0.8px);
  color: var(--green);
  rotate: 4deg;
  z-index: 5;
}

#landing .str1 {
  position: absolute;
  top: 91%;
  left: 7%;
  width: 5px;
  height: 5px;
  animation: homeStr1 1.6s infinite ease-in-out alternate;
  z-index: 5;
}

@keyframes homeStr1 {
  from {
    top: 91%;
  }
  to {
    top: 93%;
  }
}

#landing .str2 {
  position: absolute;
  top: 30%;
  left: 48%;
  animation: homeStr2 1.6s infinite ease-in-out alternate;
  z-index: 5;
}

@keyframes homeStr2 {
  from {
    top: 30%;
  }
  to {
    top: 33%;
  }
}

#landing .str3 {
  position: absolute;
  top: 74%;
  left: 55%;
  width: 5px;
  height: 5px;
  filter: blur(2px);
  z-index: 5;
}

#landing .str4 {
  position: absolute;
  top: 14%;
  left: 90%;
  width: 7px;
  height: 7px;
  z-index: 5;
}

/* End of Landing */

/* Start of About */

#about {
  background-color: #1c213a;
  position: relative;
  overflow-x: hidden;
}

#about .container {
  min-height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4vh;
  width: 85%;
  flex-wrap: wrap;
  position: relative;
  gap: 100px;
}

#about .container .left .top {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
  width: 200px;
  height: 100px;
}

#about .container .left .top h1 {
  font-size: 2rem;
  color: var(--grad-orange-light);
}

#about .container .left .top div {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--grad-orange-dark);
}

#about .container .left h4 {
  margin-bottom: 10px;
  width: 750px;
  line-height: 1.5;
  font-weight: 600;
  color: var(--white);
  font-size: 18px;
}

#about .container .left p {
  width: 750px;
  line-height: 1.4;
  font-weight: 600;
  color: var(--white);
  font-size: 18px;
}

#about .container .left span {
  color: var(--purble);
}

#about .container .left p span {
  color: var(--grad-orange-light);
  text-decoration: underline;
  cursor: pointer;
}

#about .container .left span.company {
  color: var(--green);
  text-decoration: none;
}

#about .container .right img {
  width: 200px;
  cursor: pointer;
  transition: 0.7s;
}

#about .container .right img:hover {
  scale: 1.1;
}

/* Stars */

#about .stars-cover i#one {
  width: 5px;
  height: 5px;
  top: 15%;
  right: 4%;
  position: absolute;
  filter: blur(1.3px);
  color: var(--pink);
  rotate: 170deg;
}

#about .stars-cover i#two {
  width: 5px;
  height: 5px;
  top: 91%;
  right: 94%;
  position: absolute;
  filter: blur(0.8px);
  color: var(--pink);
  rotate: 4deg;
}

#about .str1 {
  top: 90%;
  left: 83%;
  width: 6px;
  height: 6px;
}

#about .str2 {
  top: 10%;
  left: 10%;
  width: 6px;
  height: 6px;
  animation: aboutStr2 1.6s infinite ease-in-out alternate;
}

@keyframes aboutStr2 {
  from {
    top: 10%;
  }
  to {
    top: 12%;
  }
}

/* End of About */

/* Start of Features */

#features {
  position: relative;
  overflow-x: hidden;
}

#features .container {
  padding-top: 8vh;
  min-height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
  gap: 10px;
}

#features .container .card {
  cursor: pointer;
  padding: 40px 20px;
  width: 350px;
  height: 250px;
  background-color: #1c213a;
  transition: 0.5s;
  border: 1px solid transparent;
}

#features .container .card:hover {
  border: 1px solid var(--grad-purble-dark);
}

#features .container .card .top i {
  font-size: 2.6rem;
  color: var(--grad-purble-dark);
  margin-bottom: 1.2rem;
}

#features .container .card .middle {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1.2rem;
}

#features .container .card .bottom {
  font-size: 0.9rem;
  color: var(--white);
}

#features .container .card#active {
  border: 1px solid var(--grad-purble-dark);
}

#features .container .card#active:hover {
  border: 1px solid transparent;
  filter: drop-shadow(0px 0px 4px var(--grad-purble-dark));
}

/* End of Features */

/* Start of Services */

#services {
  background-color: #1c213a;
  position: relative;
  overflow-x: hidden;
}

#services .container {
  padding-top: 8vh;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  width: 85%;
}

#services .container .top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}

#services .container .top h1 {
  font-size: 2rem;
  color: var(--grad-orange-light);
}

#services .container .top div {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--grad-orange-dark);
}

#services .container .services-container {
  min-height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

#services .services-container .card {
  cursor: pointer;
  padding: 40px 20px;
  width: 350px;
  height: 300px;
  background-color: var(--gray);
  transition: 0.5s;
  border: 3px solid transparent;
  position: relative;
  overflow: hidden;
}

#services .services-container .card:hover {
  border: 3px solid var(--grad-purble-dark);
  border-radius: 8px;
}

#services .services-container .card .top i {
  font-size: 2.6rem;
  color: var(--grad-purble-dark);
  margin-bottom: 1.2rem;
}

#services .services-container .card .middle {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1.2rem;
}

#services .services-container .card .bottom {
  font-size: 0.9rem;
  color: var(--white);
}

#services .services-container .card .footer {
  background-color: var(--white);
  width: 103%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0px;
}

/* Stars */

#services .stars-cover i#one {
  width: 5px;
  height: 5px;
  top: 15%;
  right: 4%;
  position: absolute;
  filter: blur(0.8px);
  color: var(--pink);
  rotate: 340deg;
}

#services .stars-cover i#two {
  width: 5px;
  height: 5px;
  top: 91%;
  right: 94%;
  position: absolute;
  filter: blur(0.8px);
  color: var(--pink);
  rotate: 4deg;
}

#services .str1 {
  top: 97%;
  left: 83%;
  width: 6px;
  height: 6px;
}

#services .str2 {
  top: 10%;
  left: 10%;
  width: 6px;
  height: 6px;
  animation: aboutStr2 1.6s infinite ease-in-out alternate;
}

@keyframes aboutStr2 {
  from {
    top: 10%;
  }
  to {
    top: 12%;
  }
}

/* End of Services */

/* Start of Portflio */

#portflio {
  position: relative;
  overflow-x: hidden;
}

#portflio svg {
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

#portflio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 92%;
  z-index: 5;
}

#portflio .container .top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

#portflio .container .top h1 {
  font-size: 2rem;
  color: var(--grad-orange-light);
}

#portflio .container .top div {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--grad-orange-dark);
}

#portflio .container .right {
  display: flex;
  gap: 10px;
}

#portflio .container .right a {
  padding: 5px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 2px;
}

#portflio .container .right a::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    45deg,
    var(--grad-purble-dark),
    var(--grad-purble-light)
  );
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: 0.3s;
}

#portflio .container .right .active {
  background-image: linear-gradient(
    45deg,
    var(--grad-purble-dark),
    var(--grad-purble-light)
  );
}

#portflio .container .right a:hover::before {
  opacity: 1;
}

#portflio .container .right a:hover {
  box-shadow: 0px 0px 20px 5px rgba(115, 0, 255, 0.4);
}

#portflio .container #allWork {
  margin: 50px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 5;
}

#portflio .container #allWork .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  transition: 0.4s;
}

#portflio .container #allWork .row .box {
  background-image: linear-gradient(
    45deg,
    var(--grad-purble-dark),
    var(--grad-purble-light)
  );
  width: 280px;
  height: 185px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  transition: 0.4s;
}

#portflio .container #allWork .row .box .image {
  width: 100%;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

#portflio .container #allWork .row .box .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  box-shadow: inset 0px 0px 30px 5px #211141b4;
  z-index: 999;
}

#portflio .container #allWork .row .box .category {
  position: absolute;
  top: -30px;
  display: flex;
  justify-content: center;
  z-index: 999;
  width: 100%;
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.3s;
}

#portflio .container #allWork .row .box .link {
  position: absolute;
  bottom: -60px;
  z-index: 999;
  transition: 0.3s;
  width: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

#portflio .container #allWork .row .box .lordIcon {
  position: absolute;
  left: -50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.3s;
}

#portflio .container #allWork .row .box:hover .image {
  transform: scale(1.2) rotate(-5deg);
  opacity: 0.2;
}

#portflio .container #allWork .row .box:hover .category {
  top: 0px;
}

#portflio .container #allWork .row .box:hover .lordIcon {
  left: 50%;
}

#portflio .container #allWork .row .box:hover .link {
  bottom: 7px;
}

#portflio .container #allWork .row .box .link:hover {
  box-shadow: 0px 0px 10px 5px #d7bff6;
}

#portflio .container .btn {
  padding: 4px 40px;
  font-size: 1.2rem;
  background-image: linear-gradient(
    45deg,
    var(--grad-orange-dark),
    var(--grad-orange-light)
  );
  margin: auto;
  transition: 0.3s;
  z-index: 5;
  margin-bottom: 170px;
}

#portflio .container .btn:hover {
  padding: 4px 60px;
  box-shadow: 0px 0px 15px 5px rgba(115, 0, 255, 0.7);
}

/* End of Portflio */

/* Start of Partners */

#partners {
  background-color: #1c213a;
  position: relative;
  overflow-x: hidden;
}

#partners svg {
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

#partners .container {
  min-height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  flex-wrap: wrap;
  position: relative;
  gap: 20px;

  z-index: 5;
  margin-top: -70px;
  margin-bottom: 175px;
}

#partners .container .left .top {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
  width: 200px;
  height: 100px;
}

#partners .container .left .top h1 {
  font-size: 2rem;
  color: var(--grad-orange-light);
}

#partners .container .left .top div {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--grad-orange-dark);
}

#partners .container .right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

#partners .container .right img {
  width: 100px;
  cursor: pointer;
  transition: 0.3s;
  filter: grayscale();
}

#partners .container .right img.a7med {
  width: 75px;
}

#partners .container .right img:hover {
  filter: none;
  scale: 1.1;
}

/* End of Partners */

/* Start of FeedBacks */

#feedbacks {
  position: relative;
  overflow: hidden;
}

#feedbacks .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 92%;
  gap: 30px;
  z-index: 5;
}

#feedbacks .container .top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  z-index: 5;
}

#feedbacks .container .top h1 {
  font-size: 2rem;
  color: var(--grad-orange-light);
}

#feedbacks .container .top div {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--grad-orange-dark);
}

#feedbacks .container .right {
  display: flex;
  gap: 10px;
  z-index: 5;
}

.contSwiper {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.swiper {
  width: 400px;
  height: 250px;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: visible !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -45px !important;
}

.swiper-pagination-bullet {
  background-color: var(--grad2-clr-right) !important;
  opacity: 0.2 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--grad-clr-right) !important;
  opacity: 0.8 !important;
}

.swiper-slide {
  background-image: linear-gradient(
    45deg,
    var(--grad-clr-left),
    var(--grad-clr-right)
  );
  width: 424px;
  height: 265px;
  transition: 0.4s !important;
  overflow: hidden;
  border-radius: 10px;
}

.swiper-slide:hover {
  box-shadow: 0px 0px 20px 0px rgba(115, 0, 255, 0.5);
}

.swiper-slide .up {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .up .content {
  width: 80%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 20px;
}

.swiper-slide .stars {
  margin-top: -20px;
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
}

.swiper-slide .stars i {
  color: var(--grad-orange-light);
}

.swiper-slide .down {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px;
}

.swiper-slide .down img {
  width: 50px;
}

/* Stars */

#feedbacks .stars-cover i#one {
  width: 5px;
  height: 5px;
  top: 15%;
  right: 4%;
  position: absolute;
  filter: blur(1.3px);
  color: var(--pink);
  rotate: 170deg;
}

#feedbacks .stars-cover i#two {
  width: 5px;
  height: 5px;
  top: 91%;
  right: 94%;
  position: absolute;
  filter: blur(0.8px);
  color: var(--pink);
  rotate: 4deg;
}

#feedbacks .str1 {
  top: 90%;
  left: 83%;
  width: 6px;
  height: 6px;
}

#feedbacks .str2 {
  top: 10%;
  left: 10%;
  width: 6px;
  height: 6px;
  animation: feedbacksStr2 1.6s infinite ease-in-out alternate;
}

@keyframes feedbacksStr2 {
  from {
    top: 10%;
  }
  to {
    top: 12%;
  }
}

/* End of FeedBacks */

/* Start of Contact */

#contact {
  background-color: #1c213a;
  position: relative;
  overflow-x: hidden;
  height: 62vh;
}

#contact .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4vh;
  width: 85%;
  position: relative;
  flex-flow: column;
}

#contact .container .left .top {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 200px;
  height: 120px;
}

#contact .container .left .top h1 {
  font-size: 2rem;
  color: var(--grad-orange-light);
}

#contact .container .left .top div {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--grad-orange-dark);
}

#contact .right {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

#contact .right-side {
  width: 660px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#contact .right-side h2 {
  font-size: 26px;
}

#contact .right-side h5 {
  font-size: 16px;
}

#contact .right-side span#purple {
  color: var(--grad-purble-dark);
}

#contact .right-side span#orange {
  color: var(--grad-orange-light);
}

#contact .left-side {
  margin-top: -15px;
}

#contact .left-side img {
  margin-top: 10%;
  height: 100%;
  width: 300px;
  cursor: pointer;
  transition: 0.5s;
  /* animation: owner 1.1s infinite ease-in-out alternate; */
}

@keyframes owner {
  0% {
    margin-top: 10%;
  }
  100% {
    margin-top: 14%;
  }
}

#contact .social {
  overflow: hidden;
  margin-top: 25px;
}

#contact .social li:first-child {
  margin-left: 0px;
}

#contact .social li {
  margin: 0px 7.5px;
  display: inline-block;
}

#contact .social li a {
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#contact .social li a:hover {
  background-color: var(--grad-purble-dark);
  border-color: var(--grad-purble-light);
  color: var(--purble);
}

/* Stars */

#contact .stars-cover i#one {
  width: 5px;
  height: 5px;
  top: 15%;
  left: 4%;
  position: absolute;
  filter: blur(1.3px);
  color: var(--pink);
  rotate: 4deg;
}

#contact .stars-cover i#two {
  width: 5px;
  height: 5px;
  top: 91%;
  left: 94%;
  position: absolute;
  filter: blur(0.8px);
  color: var(--pink);
  rotate: 4deg;
}

#contact .str1 {
  top: 96%;
  right: 83%;
  width: 6px;
  height: 6px;
}

#contact .str2 {
  top: 6%;
  right: 10%;
  width: 6px;
  height: 6px;
  animation: contactStr2 1.6s infinite ease-in-out alternate;
}

@keyframes contactStr2 {
  from {
    top: 10%;
  }
  to {
    top: 12%;
  }
}

/* End of Contact */

/* Start of Copyright */

#copyright {
  height: 5vh;
}

#copyright hr {
  border-width: 0.7px;
}

.copy {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.copy h5 {
  color: var(--grad-orange-light);
  font-weight: 600;
  font-size: clamp(12px, 14px, 16px);
  cursor: pointer;
}

/* End of Copyright */
